<input
    #searchInput
    placeholder="Search..."
    (input)="productService.search.set(searchInput.value)"
    class="border p-2 rounded"
/>

<select #cat (change)="productService.category.set(cat.value)" class="border p-2 rounded">
    <option value="">All</option>
    <option value="electronics">Electronics</option>
    <option value="accessories">Accessories</option>
</select>

<div class="grid grid-cols-3 gap-4 mt-4">
    @for (product of productService.filtered(); track product.id) {
        <div class="p-4 border rounded-xl">
            <img [src]="product.images[0]" class="h-32 w-full object-cover" />

            <h2>{{ product.title }}</h2>
            <p>₹ {{ product.price }}</p>

            <div class="flex gap-2 mt-2">
                <button
                    (click)="cartService.add(1, product.id)"
                    class="bg-black text-white px-2 py-1 rounded"
                >
                    Cart
                </button>

                <button
                    (click)="wishlistService.toggle(1, product.id)"
                    class="border px-2 py-1 rounded"
                >
                    {{ wishlistService.isInWishlist(1, product.id) ? '❤️' : '🤍' }}
                </button>
            </div>
        </div>
    }
</div>
